<!DOCTYPE html>
    <head>
        <meta charset= "USF-8">
        <meta name = "viewpoint" , content ="initial-scale=1">
        <title>Shopping List</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="icon" tyoe="img/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeJaEq8vpSqXOOek6TTFUID11VWw_fuFbnMQ&usqp=CAU">
    </head>
    <body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHZBK_AR_icaHGhxrNjHrTt3WZTJlVIKcX3A&usqp=CAU');background-repeat:no-repeat;background-size: cover;">
        <div style="color: antiquewhite">......................^..this is reset:)</div>
        <div id=msg style="color: antiquewhite;text-align: center;font-size: 30px;">
            Type here to add to your shopping list:
            
            <input v-model="newStuff" size="50">
            <button v-on:click="add" >+ADD</button>
            
            <ul style="list-style-position: inside;">
                <li v-for="stuff in stuffs">{{ stuff.name }} </li>
            </ul>
        </div>
        
        
    </body>
    <script>
        
        new Vue({
            el: '#msg',
            data: {
                stuffs: [
                   
                ],
                newStuff:''
                    
                
            },
            methods:{
                add: function(){
                    return this.stuffs.push({name: this.newStuff})
                }
                
            }
            
            
        })
        
        
    </script>